#ignore all .idea
.idea
*/.idea
*/*/.idea
*/*/*/.idea
*/*/*/*/.idea
*/*/*/*/*/.idea
*/*/*/*/*/*/.idea

#ignore all .class
*.class
*/*.class
*/*/*.class
*/*/*/*.class
*/*/*/*/*.class
*/*/*/*/*/*.class
*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.class